<!DOCTYPE html>
<html lang="en">
<head>

    <title>Document</title>
</head>
<body>
    <h1>email verified successfully <a href="https://e-market-frontend-gray.vercel.app/signin">click to login</a></h1>
</body>
</html>